body {
	background: #f6f6f6;
	margin: 0;
	padding: 0;
	/*The overflow-x property specifies what to 
	do with the left/right edges of the content - 
	if it overflows the element's content area*/
	overflow-x: hidden;
}
* { 
	/*The width and height properties 
	(and min/max properties) includes content, 
	padding and border, but not the margin*/
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}

.container {
	width: 100%;
	height: auto;
	/*The element is positioned relative to 
	its normal position, so "left:20px" adds 
	20 pixels to the element's LEFT position*/
	position: relative;
	margin: 0 auto;
	background: none;
}
.text {
	width: 100%;
	height: auto;
	position: relative;
	padding-top: 50px;
	margin-left: 100px;
}

article {
	width: 50%;
	margin-left: 10px;
}


p {
	font-family: 'Inconsolata', ;
	font-size: 1.1em;
	line-height: 3;
	margin-top: 30px;
}

.selfText {
	font-family: 'Inconsolata', serif;
	color: #f6f6f6;
}

.storyText {
	font-family: 'Vollkorn', serif;
	color: #1c1c1c;
}

.allCaps {
	text-transform: capitalize;
	font-family: 'Permanent Marker', cursive;
	font-size: 35px;
	letter-spacing: 0.8px;
	font-weight: bold;
}

.selfText a {
	color: #f6f6f6;
	font-weight: 700;
	text-decoration: none;
	padding: 14px;
}

.storyText a {
	color: inherit;
	text-decoration: none;
	padding: 10px;
}

/*Talk to the iframe tag that is inserted in the HTML by the .js*/
iframe {
	margin-left: -110px;
}

/*Red Circle denoting jumps in the story */
.circle {
	width: 20px;
	height: 20px;
	background: #ff5656;
	border-radius: 20px;
}
